@import "tailwindcss";



html,body {
  scroll-behavior: smooth;
}
@theme {
 
  --font-inter: 'Inter', sans-serif;
  --font-poppins: 'Poppins', sans-serif;
  --color-primary: #0075eb;
  --color-secondary: #e9f4ff;
  --color-gray: #cbd5e1;


   --color-background: #f9fafb;
  --color-card: #ffffff;
  --color-text: #111827;
  --color-muted: #4b5563;
  --color-border: #e5e7eb;
 
}


::-webkit-scrollbar {
  width: 2px;
}









@layer base {
  body {
    background-color: var(--color-background);
    color: var(--color-text);
    font-family: var(--font-inter);
  }
}
