@import "tailwindcss";

:root {
  --color-background: #F9FAFB;
  --color-card: #FFFFFF;
  --color-text: #111827;
  --color-muted: #4B5563;
  --color-border: #E5E7EB;
  --color-primary: #4F46E5;
}


.dark {
  --color-background: #111827;
  --color-card: #1F2937;
  --color-text: #F9FAFB;
  --color-muted: #9CA3AF;
  --color-border: #374151;
  --color-primary: #818CF8;
}

@layer base {
    body {
    background-color: var(--color-background);
    color: var(--color-text);
    font-family: var(--font-inter), sans-serif;
  }
}

@theme{
  --font-inter: 'Inter', sans-serif;
  --font-poppins: 'Poppins', sans-serif;
}